/*** DRAFTING CLASSES (FOR DELETION) ***/

.red{
	color:red;
}

/*** COMMON ELEMENTS & ATTRIBUTES ***/
body{
	background:#FFFFFF;
	overflow-x:hidden;
	overflow-y:auto;
	font-family:'Lato', sans-serif;
	font-weight:300;
	font-size:1rem;
}

h1{
	font-family:'Sansita', serif;
}

h2,h3,h4{
	font-family:'Magra', serif;
}

h2{
	font-weight:750;
}

h3{
	font-size:1.5rem;
}

h4{
	font-size:1.2rem;
}

strong{
	font-weight:900;
}

a{
	color:#4C7298;
	text-decoration:none;
}

a:hover{
	color:#4C7298;
	text-decoration:underline;
}

a.nude{
	text-decoration:none;
	color:black;
}

a.nude:hover{
	text-decoration:none;
	color:black;
}

a.btnText{
	color:white;
}

a.btnText:hover{
	text-decoration:none;
	color:white;
}

.bold{
	font-weight:bold !important;
}

.noBold{
	font-weight:normal !important;
}

.underline{
	text-decoration:underline;
}

.wavy{
	text-decoration:underline wavy;
}

.left{
	text-align:left;
}

.center{
	text-align:center;
}

.right{
	text-align:right;
}

.rtl{
	direction:rtl;
}

.justify{
	text-align:justify;
}

.indent{
	padding-left:20px;
}

.citation{
	font-size:0.6rem;
}

.tight{
	margin-bottom:2px;
}

.tighter{
	margin-bottom:0px;
}

.smaller{
	font-size:0.5rem;
}

.small{
	font-size:0.75rem;
}

.big{
	font-size:1.25rem;
}

.bigger{
	font-size:1.5rem;
}

.nowrap{
	white-space:nowrap;
}

.instructions{
	font-size:0.8rem;
}

.blockPara{
	padding-left:10%;
	padding-right:10%;
}

.secondary{
	color:#A1A1A1;
}

.rotate{
	transform:rotate(-90deg);
	position: absolute;
	top: 0;
	left: 0;
}

.bordered{
	border:thin solid black;
}

.doubt{
	color:gray;
}

form{
	width:100%;
}

input{
	padding-left:10px;
	font-family: inherit !important;
	font-size: 14px !important;
	line-height: inherit !important;
}

input,.shadowed{
	border:thin solid gray;
	border-radius:0.3em;
	box-shadow: 1px 1px 3px #AAAAAA;
}

.fullWidth{
	width:100%;
}

.fullHeight{
	height:99%;
	min-height:inherit;
}

/*** BOOSTRAP CUSTOMIZATIONS ***/

.btn{
	background-color:#4C7298;
	color:white;
	font-family:'Magra', serif;
	font-size:1.2rem;
	font-weight:700;
}

.btn[disabled]{
	opacity:0.25;
}

.btn-secondary{
	background-color:#A1A1A1;
}

.btn:hover{
	color:white;
}

.btn-md{
	font-size:1rem;
}

.btn-sm{
	font-size:0.8rem;
}

/*** FRAMING ***/

header, footer{
	position:fixed;					
	background:#E1E1E1;
	filter:drop-shadow(black 1px 1px 3px);
	z-index:999;
}

header {
	top:0px;
	padding:10px;
}

#logoImgHolder{
	vertical-align:middle;
}
#logoImg{
	max-height:65px; 
	max-width:135px;
}
#siteTitle{
	font-size:3rem;
	vertical-align:middle;
}
.nav-item.dropdown-toggle{
	background-color:#4C7298;
	min-width:140px;
}
.nav-item.dropdown-toggle.inactive{
	background-color:#A1A1A1;
}
.nav-item{
	border-radius:30px;
	line-height:1 !important;
}
.nav-item.padded{
	padding-top:15px;
	white-space:nowrap;
}

footer{
	bottom:0px;
	padding-top:5px;
}

.funderImg{
	max-height:75px;
}

main{
	width:95%;
	margin:85px auto 10px;
	background:#FFFFFF;
	z-index:1;
	overflow:auto;
}

.section,.sidebar{
	border-radius:30px;
	border:thin solid #E1E1E1;
	padding:15px;
}

@media(max-width:768px){
	#logoImg {
		height:45px; 
		width:90px; 	
	}
	#siteTitle{
		font-size:2rem;
	}
}

@media(max-width:993px){
	body{
		overflow:auto;
		height:100vh;
	}
	footer{
		position:static;
	}
	header{
		position: -webkit-sticky;
		position:sticky;
	}
	nav{
		height:auto;
	}
	.nav-item{
		width:100%;
		background:#E1E1E1;
		border-radius:0px;
	}
	a > .nav-item{
		color:black;
	}
	a:hover > .nav-item{
		text-decoration:underline;
		color:black;
	}
	.nav-item.padded{
		padding-top:0px;
	}
	main{
		margin:10px auto 10px;
		overflow:visible;
		top:
	}
}

/*** 404 ***/
#pageNotFound{
	display:block;
	height:500px;
	widrth:auto;
	margin:auto;
}

/*** INDEX ***/

#welcome{
	height:100%;
}

#highlighted{
	min-height:200px;
	height:100%;
	margin-bottom:15px;
}

#statistics{
	min-height:200px;
	height:100%;
	overflow-x:hidden;
}

#indexBoxes{
	display:initial;
}

@media (min-width:768px) {
	#indexBoxes{
		display:flex;
	}
}

@media (min-width:1200px) {
	#indexBoxes{
		display:initial;
	}
}

#highlightedSpeciesImage{
	max-height: 150px;
	max-width: 345px;
	display: block;
	margin: 5px auto;
}

/*** ABOUT ***/

.orgLogo{
	text-align:center;
}

.staffMember{
	overflow-x:hidden;
}

.teamImage{
	clip-path: circle(45% at center);
}

#dataDefinitions{
	border-radius:30px;
	border:thin solid #E1E1E1;
	padding:15px;

}

#dataDefinitionsTableHolder{
	height:250px;
	overflow-y:auto;
}

#dataDefinitionsTable tr{
	border-top:thin solid #E1E1E1;
}

#dataDefinitionsTable td{
	vertical-align:top;
}

/*** SEARCH RESULT PAGES ***/

#smallScreen{
	background:white;
	overflow-x:hidden;
}

#largeScreen{
	max-width:450px;
}

#collapsedSideBarLabel{
	width:30px;
	margin-top:125px;
	color:#A1A1A1;
	white-space:nowrap;
}

.searchTextInput{
	height:29px;
}

.autocomplete-items{
	max-height:100px;
	max-width:200px;
	overflow-y: auto;
	position: fixed;
	z-index: 99;
	background: white;
	border: thin solid gray;
	border-radius:0.3em;
}

.autocomplete-item{
	white-space:nowrap;
}

#sortOrderBottom_chosen .chosen-drop{
	border-bottom: 0;
    border-top: 1px solid #aaa;
    top: auto;
    bottom: 25px;
}

#searchResults{
	overflow:auto;
}

.resultCard:hover{
	background:#F1F1F1;
}

.cardTitle{
	margin-bottom:2px;
	font-size:1.3rem;
	font-weight:bold;
}

.cardInfo{
	margin-bottom:2px;
	white-space:nowrap;
	overflow:hidden;
}

@media(min-width:993px){
	.cardSection{
		margin:5px auto;
		border-top:thin solid lightgray;
	}
}

#paginationHolder{
	width:max-content;
	border:thin solid gray;
	border-right:none;
}

.pageButton{
	height:25px;
	text-align:center;
	border:none;
	border-radius:0;
	border-right:thin solid gray;
	background:white;
	color:#4C7298;
}
.pageButton:disabled{
	color:gray;
}

.otherPage:active:hover{
	background:#F1F1F1;
}

.currentPage{
	background:#E1E1E1;
	color:black;
}

#sortOrderSubmit{
	height:30px;
}

#noResults{
	display:block;
	height:inherit;
	margin:auto;
}

/*** RESULTS-RECORDINGS ***/

#recordingSearchFormPanel .checkboxBlock{
	margin-top:0.7em !important;
}

.resultCard:before{
	content:"";
	position:relative;
	left:7.5%;
	bottom:0.75rem;
	height:0.75px;
	width:85%;
	border:thin solid lightgray;
}

#results-recordings .resultCard:hover{
	background:white;
}

.recordingImage{
	overflow-y:hidden;
	overflow-x:auto;
	position:relative;
	height:210px;
	width:610px;
	padding:10px;
	margin:auto;
	background:white;
	border-radius:25px;
}

.spectrogramCropped{
	width: 600px;
	position: absolute;
	bottom: 0px;
}

.audioPlayer{
	width:50px;
}


/*** FISH ***/

.card-header i{
   font-weight:bold;
   float: right;
   transition: all 0.5s;
}

.collapsed i.arrowIcon{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 

#speciesDescriptionImage{
	max-width: 100%;
	display: block;
	margin: 5px auto;
}

.recordingBlock{
	border-bottom:thin solid lightgray;
}

.recordingBlock.last{
	border-bottom:none;
}

#referenceList > thead{
	background:#3a5163;
	color:white;
}

#referenceList > thead > tr > th{
	border-left:thin solid white;
}

#referenceList > tbody > tr > td{
	border-left:thin solid #dee2e6;
}

.referenceTableSymbol{
	padding-right:7px;
}

/*** RECORDING ***/
#recording{
	overflow:hidden;
}

#spectrogram{
	width:100%;
}

.measurementCitation{
	height: 45px;
	border: thin solid #6c757d;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color:white;
	background-color:#A1A1A1;
	position:relative;
}


.measurementCitation:hover{
	background-color:#5a6268;
}

#measurementTableHolder{
	height:90%;
	overflow-y:auto;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 15px 0px;
}

#measurementTableHolder table{
	text-align:center;
	font-size:0.75rem;
}

@media (min-width: 544px) {  
	#measurementTableHolder table{
		font-size:1rem;
	}
}

@media (min-width: 992px) { 
	#measurementTableHolder table{
		font-size:0.75rem;
	}
}

@media (min-width: 1200px) {  
	#measurementTableHolder table{
		font-size:1rem;
	}
}

.measurementTable{
	height:200px;
	overflow:auto;
}

.measurementCitation.active{
	background-color:#4C7298;
	z-index:11 !important;
}

.measurementCitation.active:hover{
	background-color:#4C7298;
}

/*** REFERENCE ***/
#referenceText{
	width: 1px;
	height: 1px;
	padding: 0px !important;
	position: relative;
	z-index: -10;
}

#referenceCopyHolder{
	position:relative;
}

#copyConfirmation{
	display:none;
	position:absolute;
	bottom:40px;
}

#copyConfirmation.recordingReferenceCopy{
	bottom:0px !important;
	top:30px;
}

.referenceInfo{
	min-width:200px;
}

#noteBox{
	height:500px;
	overflow:hidden;
	background:white;
	border:thin solid #E1E1E1;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	position:fixed;
	top:100px;
	left:-20px;
	z-index:99;
}

#noteBox #textHolder{
	max-height:450px;
	overflow:auto;
}

#closeNotes{
	width:30px;
	height:30px;
}

.note{
	margin-left:20px;
}

/*** FORM JAVASCRIPT LIBRARY COMPONENTS ***/

/* Chosen Select Input library */
.chosen-container{
	border:thin solid gray;
	border-radius:0.3em;
	box-shadow: 1px 1px 3px #AAAAAA;
	height:max-content;
}

.chosen-container-single{
	border:unset !important;
}

.chosen-choices{
	border:unset !important;
	border-radius: 0.3em;
}

.search-choice{
	margin:0px !important;
}

/* JQUERY UI Range Switch */

.ui-widget-content{
	background:#e9e9e9;
}

.ui-widget-header{
	background:#4C7298;
}

.ui-slider-handle{
	border-radius:40%;
}

/* toggle switch (not library, but copy-and-pasted from W3 example) */
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4C7298;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4C7298;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* collapsible sidebar (not library, but repeated JS) */

.sidebar-toggler{
	min-height:450px;
	display:table;
	position: relative;
	z-index:5;
}

#iconHolder{	
	min-width:25px;
}

#iconHolder > div{
	vertical-align:middle;
	text-align:center;
	color:#A1A1A1;
}

#openSideBar{
	display:none;
}

#closeSideBar{
	display:table-cell;
}
